<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <remap from="/cam0/image_raw" to="/ptgrey_node/left/image_raw"/>
  <remap from="/cam1/image_raw" to="/thermal_image"/>
  <remap from="/imu0" to="/vn100/imu"/>
  <node pkg="rovio" type="rovio_node" name="rovio" output="screen">
  <param name="filter_config" value="$(find rovio)/cfg/manual_flight/rovio_old.info"/>
    <param name="camera0_config" value="$(find rovio)/cfg/euroc_cam0.yaml"/>
  <param name="camera1_config" value="/home/henrik/datasets/ktio/Vicon/vicon_tau2_intrinsic_camera_calibration.yaml"/>
<!--  <param name="camera0_config" value="$(find rovio)/cfg/charlie_tau2.yaml"/>-->
<!--  <param name="camera0_config" value="$(find rovio)/cfg/charlie_tau2.yaml"/>-->
  </node>
</launch>
